In [1]:
# Available Products in My market

In [2]:
records = {
    1230 : {'p_name':'kit-kat','price':5,'quant':100,'p_type':'chockalate'},
    1231 : {'p_name':'five star','price':10,'quant':120,'p_type':'chockalate'},
    1232 : {'p_name':'dairy-milk','price':50,'quant':50,'p_type':'chockalate'},
    1233 : {'p_name':'Unibic Biscuit','price':25,'quant':150,'p_type':'Biscuit'},
    1234 : {'p_name':'Dukes Biscuit','price':250,'quant':25,'p_type':'Biscuit'},
    1235 : {'p_name':'Cadbury Oreo Biscuit','price':150,'quant':50,'p_type':'Biscuit'},
    1236 : {'p_name':'Parle Biscuit','price':10,'quant':100,'p_type':'Biscuit'},
    1237 : {'p_name':'Britannia Biscuit','price':30,'quant':90,'p_type':'Biscuit'},
    1238 : {'p_name':'Sunfeast Biscuit','price':5,'quant':200,'p_type':'Biscuit'},
    1239 : {'p_name':'McVitie Biscuit','price':15,'quant':80,'p_type':'Biscuit'},
    1240 : {'p_name':'Samsung M30','price':14900,'quant':20,'p_type':'Electronics'},
    1241 : {'p_name':'Samsung M30S','price':17900,'quant':15,'p_type':'Electronics'},
    1242 : {'p_name':'MI Note5','price':11100,'quant':30,'p_type':'Electronics'},
    1243 : {'p_name':'MI Note10','price':32000,'quant':5,'p_type':'Electronics'},
    1244 : {'p_name':'Oppo Reno 6 ','price':21900,'quant':6,'p_type':'Electronics'},
    1245 : {'p_name':'Oppo A25','price':17900,'quant':3,'p_type':'Electronics'},
    1246 : {'p_name':'Oppo F17','price':12000,'quant':10,'p_type':'Electronics'},
    1247 : {'p_name':'Boats headset','price':1200,'quant':7,'p_type':'Electronics'},
    1248 : {'p_name':'Samsung headset','price':450,'quant':10,'p_type':'Electronics'},
    1249 : {'p_name':'Iphone 10plus','price':59999,'quant':3,'p_type':'Electronics'},
    1250 : {'p_name':'Adidas','price':1200,'quant':20,'p_type':'Shoes'},
    1251 : {'p_name':'Puma','price':1500,'quant':15,'p_type':'Shoes'},
    1252 : {'p_name':'Woodland','price':2999,'quant':8,'p_type':'Shoes'},
    1253 : {'p_name':'Nike','price':2500,'quant':10,'p_type':'Shoes'},
    1254 : {'p_name':'Bata','price':1999,'quant':15,'p_type':'Shoes'},
    1255 : {'p_name':'Reymond Shirts','price':2599,'quant':15,'p_type':'Shirt'},
    1256 : {'p_name':'Arrow Shirts','price':1999,'quant':15,'p_type':'Shirt'},
    1257 : {'p_name':'Peter England Shirts','price':1499,'quant':15,'p_type':'Shirt'},
    1258 : {'p_name':'Van Heusen Shirts','price':999,'quant':15,'p_type':'Shirt'},
    1259 : {'p_name':'Allen solly','price':1300,'quant':15,'p_type':'Shirt'}

}

In [3]:
# Upload available Products in to the Json file

In [4]:
import json
js = json.dumps(records)

fd = open('record.json','w')
fd.write(js)
fd.close()

In [5]:
# Billing of a Purchased products

In [6]:
import time

fd = open('record.json','r')
txt = fd.read()
fd.close()

records = json.loads(txt)

print('*** Welcome to "my super market" ***')
print('Please Wear a Mask')

num = int(input('Enter number of items Taken : '))

amount = 0
for i in range(num):
  id = input('Enter prodct id: ')
  ui_quan = int(input('Enter each quantity of a product: '))
  if id in records:
    print('*****************************************')
    print('Product name: ',records[id]['p_name'])
    print('Product type: ',records[id]['p_type'])
    print('Each Product price: Rs.',records[id]['price'])
    print('Purchased quantity: ',ui_quan)
    pri = ui_quan * records[id]['price']
    amount = amount + pri
    print('price of ',ui_quan,records[id]['p_name'],'is: Rs.',pri)
    print('*****************************************')
    x = records[id]['quant']
    records[id]['quant'] = x - ui_quan

  
  else:
    print(id,'this is Invalid Id')
    print('*****************************************')

print('-------------------------------')
print('Total Bill : Rs.', float(amount))
print('Date and time: ',time. ctime())
print('*** Thank you ***')
print('*** Visit again ***')

js = json.dumps(records)

fd = open('record.json','w')
fd.write(js)
fd.close()

*** Welcome to "my super market" ***
Please Wear a Mask
Enter number of items Taken : 4
Enter prodct id: 1234
Enter each quantity of a product: 4
*****************************************
Product name:  Dukes Biscuit
Product type:  Biscuit
Each Product price: Rs. 250
Purchased quantity:  4
price of  4 Dukes Biscuit is: Rs. 1000
*****************************************
Enter prodct id: 1258
Enter each quantity of a product: 2
*****************************************
Product name:  Van Heusen Shirts
Product type:  Shirt
Each Product price: Rs. 999
Purchased quantity:  2
price of  2 Van Heusen Shirts is: Rs. 1998
*****************************************
Enter prodct id: 1243
Enter each quantity of a product: 3
*****************************************
Product name:  MI Note10
Product type:  Electronics
Each Product price: Rs. 32000
Purchased quantity:  3
price of  3 MI Note10 is: Rs. 96000
*****************************************
Enter prodct id: 1238
Enter each quantity of a product: 2
*****************************************
Product name:  Sunfeast Biscuit
Product type:  Biscuit
Each Product price: Rs. 5
Purchased quantity:  2
price of  2 Sunfeast Biscuit is: Rs. 10
*****************************************
-------------------------------
Total Bill : Rs. 99008.0
Date and time:  Wed Sep  8 06:14:05 2021
*** Thank you ***
*** Visit again ***

In [7]:
# Update the records.json file after Purchasing with Availble stocks

In [8]:
fd = open('record.json','r')
data = fd.read()
fd.close()

In [9]:
data

'{"1230": {"p_name": "kit-kat", "price": 5, "quant": 100, "p_type": "chockalate"}, "1231": {"p_name": "five star", "price": 10, "quant": 120, "p_type": "chockalate"}, "1232": {"p_name": "dairy-milk", "price": 50, "quant": 50, "p_type": "chockalate"}, "1233": {"p_name": "Unibic Biscuit", "price": 25, "quant": 150, "p_type": "Biscuit"}, "1234": {"p_name": "Dukes Biscuit", "price": 250, "quant": 21, "p_type": "Biscuit"}, "1235": {"p_name": "Cadbury Oreo Biscuit", "price": 150, "quant": 50, "p_type": "Biscuit"}, "1236": {"p_name": "Parle Biscuit", "price": 10, "quant": 100, "p_type": "Biscuit"}, "1237": {"p_name": "Britannia Biscuit", "price": 30, "quant": 90, "p_type": "Biscuit"}, "1238": {"p_name": "Sunfeast Biscuit", "price": 5, "quant": 198, "p_type": "Biscuit"}, "1239": {"p_name": "McVitie Biscuit", "price": 15, "quant": 80, "p_type": "Biscuit"}, "1240": {"p_name": "Samsung M30", "price": 14900, "quant": 20, "p_type": "Electronics"}, "1241": {"p_name": "Samsung M30S", "price": 17900, "quant": 15, "p_type": "Electronics"}, "1242": {"p_name": "MI Note5", "price": 11100, "quant": 30, "p_type": "Electronics"}, "1243": {"p_name": "MI Note10", "price": 32000, "quant": 2, "p_type": "Electronics"}, "1244": {"p_name": "Oppo Reno 6 ", "price": 21900, "quant": 6, "p_type": "Electronics"}, "1245": {"p_name": "Oppo A25", "price": 17900, "quant": 3, "p_type": "Electronics"}, "1246": {"p_name": "Oppo F17", "price": 12000, "quant": 10, "p_type": "Electronics"}, "1247": {"p_name": "Boats headset", "price": 1200, "quant": 7, "p_type": "Electronics"}, "1248": {"p_name": "Samsung headset", "price": 450, "quant": 10, "p_type": "Electronics"}, "1249": {"p_name": "Iphone 10plus", "price": 59999, "quant": 3, "p_type": "Electronics"}, "1250": {"p_name": "Adidas", "price": 1200, "quant": 20, "p_type": "Shoes"}, "1251": {"p_name": "Puma", "price": 1500, "quant": 15, "p_type": "Shoes"}, "1252": {"p_name": "Woodland", "price": 2999, "quant": 8, "p_type": "Shoes"}, "1253": {"p_name": "Nike", "price": 2500, "quant": 10, "p_type": "Shoes"}, "1254": {"p_name": "Bata", "price": 1999, "quant": 15, "p_type": "Shoes"}, "1255": {"p_name": "Reymond Shirts", "price": 2599, "quant": 15, "p_type": "Shirt"}, "1256": {"p_name": "Arrow Shirts", "price": 1999, "quant": 15, "p_type": "Shirt"}, "1257": {"p_name": "Peter England Shirts", "price": 1499, "quant": 15, "p_type": "Shirt"}, "1258": {"p_name": "Van Heusen Shirts", "price": 999, "quant": 13, "p_type": "Shirt"}, "1259": {"p_name": "Allen solly", "price": 1300, "quant": 15, "p_type": "Shirt"}}'